doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")

    script(src="//code.jquery.com/jquery.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(src="/javascripts/application.js")

  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Home
        form#weather-form.navbar-form.navbar-left(action="javascript:void(0);")
          .form-group
            input#location.form-control(type='text', placeholder='Enter Location Name')
          .form-group
            button#weather-form-submit.btn.btn-primary(type='submit') Get Weather Info

    .col-lg-12
      block content
