mixin weatherTemplate(locationWeather)
  .jumbotron
    img(src="/images/" + locationWeather.icon + ".ico" height="64" width="64")
    div
      | Weather on
      = " - " + (new Date(locationWeather.time * 1000)).toDateString() + ", "
      b=locationWeather.summary
      if locationWeather.temperature
        h4
          | Current Temperature
          = " - " + locationWeather.temperature+ "°F"
      if locationWeather.apparentTemperatureMax
        h4
          | Max Temperature
          = " - " + locationWeather.apparentTemperatureMax + "°F"
      if locationWeather.apparentTemperatureMin
        h4
          | Min Temperature
          = " - " + locationWeather.apparentTemperatureMin + "°F"
    p
      span(class="col-sm-3")
        | Wind
        br
        = locationWeather.windSpeed + " m/s"
      span(class="col-sm-3")
        | Humidity
        br
        = (locationWeather.humidity * 100) + " %"
      span(class="col-sm-3")
        | Visibility
        br
        if locationWeather.visibility
          = locationWeather.visibility + " Km"
        else
          | N/A
      span(class="col-sm-3")
        | Pressure
        br
        = locationWeather.pressure + " hPa"
      br